/*
     ______   ______   ______   ___    _______    ________  ___   __      
    /_____/\ /_____/\ /_____/\ /__/\ /_______/\  /_______/\/__/\ /__/\    
    \::::_\/_\:::__\/ \:::_ \ \\::\ \\::: _  \ \ \__.::._\/\::\_\\  \ \   
     \:\/___/\\:\ \  __\:\ \ \ \\:_\/ \::(_)  \/_   \::\ \  \:. `-\  \ \  
      \::___\/_\:\ \/_/\\:\ \ \ \      \::  _  \ \  _\::\ \__\:. _    \ \ 
       \:\____/\\:\_\ \ \\:\_\ \ \      \::(_)  \ \/__\::\__/\\. \`-\  \ \
        \_____\/ \_____\/ \_____\/       \_______\/\________\/ \__\/ \__\/                                                                      
         2022-23 Eco'Bin© Society - Website developed by Louis.M & Tim.S
 */

/* 🔗 CDN Fonts links on the website : 🔗 */
/* Accepting font-weight : 100/200/300/400/500/600/700/800/900 - Extra Bold/Bold/Medium/Light */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    color: black;
    font-size: normal;
    font-family: Raleway;
    font-weight: 400;
}